<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="notice">

	<select id="getNotice" resultType="resultmap" parameterType="map">
		/*
			SQL ID : com.monstermarine.api.notice.getNotice
			설명 : 공지사항 조회
		*/
		SELECT
			NOTICE_SEQ,
			TITLE,
			CONTENTS,
			CREATE_DATE,
			UPDATE_DATE,
			USER_ID,
			START_DATE,
			END_DATE,
			IS_VIEW,
			IS_DELETE
		FROM
			MONSTER_MARINE.NOTICE
		WHERE
			NOTICE_SEQ = #{noticeSeq}
	</select>
	
	<select id="getNoticeList" resultType="resultmap" parameterType="map">
		/*
			SQL ID : com.monstermarine.api.notice.getNoticeList
			설명 : 공지사항 목록
		*/
		SELECT
			NOTICE_SEQ,
			TITLE,
			CONTENTS,
			CREATE_DATE,
			UPDATE_DATE,
			USER_ID,
			START_DATE,
			END_DATE,
			IS_VIEW,
			IS_DELETE
		FROM
			MONSTER_MARINE.NOTICE
		WHERE
			IS_DELETE = false
	</select>

	<insert id="insertNotice" parameterType="resultmap">
	<![CDATA[
		/*
			SQL ID : com.monstermarine.api.notice.insertNotice
			설명 : 공지사항 등록
		*/
		INSERT INTO MONSTER_MARINE.NOTICE (
			TITLE, 
			CONTENTS, 
			CREATE_DATE, 
			UPDATE_DATE, 
			USER_ID,
			START_DATE,
			END_DATE,
			IS_VIEW
		) VALUES (
			#{title},
			#{contents},
			now(),
			now(),
			#{userId},
			#{startDate},
			#{endDate},
			#{isView}
		)
	]]>
	</insert>
	
	<update id="updateNotice" parameterType="resultmap">
		/*
			SQL ID : com.monstermarine.api.notice.updateNotice
			설명 : 공지사항 수정
		*/
		
		UPDATE MONSTER_MARINE.NOTICE SET
			TITLE = #{title}, 
			CONTENTS = #{contents}, 
			UPDATE_DATE = now(), 
			USER_ID = #{userId},
			START_DATE = #{startDate},
			END_DATE = #{endDate},
			IS_VIEW = #{isView}
		WHERE
			NOTICE_SEQ = #{noticeSeq}
	</update>
	
	<update id="deleteNotice" parameterType="map">
		/*
			SQL ID : com.monstermarine.api.notice.deleteNotice
			설명 : 공지사항 삭제
		*/
		UPDATE MONSTER_MARINE.NOTICE
		SET
			IS_DELETE = '1'
		WHERE
			NOTICE_SEQ = #{noticeSeq}			
	</update>	
	
</mapper>
