<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.monstermarine.api.notice.NoticeMapper">

	<select id="getNotice" resultType="noticeVO" parameterType="noticeVO">
		/*
			SQL ID : com.monstermarine.api.notice.getNotice
			설명 : 공지사항 상세 조회
		*/
		SELECT
			NOTICE_ID,
			TITLE,
			CONTENTS,
			DATE_FORMAT(CREATE_DATE, '%Y-%m-%dT%TZ') AS CREATE_DATE,
			DATE_FORMAT(UPDATE_DATE, '%Y-%m-%dT%TZ') AS UPDATE_DATE,
			USER_ID,
			DATE_FORMAT(START_DATE, '%Y-%m-%dT%TZ') AS START_DATE,
			DATE_FORMAT(END_DATE, '%Y-%m-%dT%TZ') AS END_DATE,
			IS_VIEW,
			IS_DELETE
		FROM
			MONSTER_MARINE.NOTICE
		<where>
			<if test="noticeId != null and noticeId != ''">AND NOTICE_ID = #{noticeId}</if>
			<if test="isDelete != null and isDelete != ''">AND IS_DELETE = false</if>
		</where>
	</select>
	
	<select id="getNoticeList" resultType="java.util.HashMap" parameterType="noticeVO">
		/*
			SQL ID : com.monstermarine.api.notice.getNoticeList
			설명 : 공지사항 목록 조회
		*/
		SELECT
			NOTICE_ID,
			TITLE,
			CONTENTS,
			DATE_FORMAT(CREATE_DATE, '%Y-%m-%dT%TZ') AS CREATE_DATE,
			DATE_FORMAT(UPDATE_DATE, '%Y-%m-%dT%TZ') AS UPDATE_DATE,
			USER_ID,
			DATE_FORMAT(START_DATE, '%Y-%m-%dT%TZ') AS START_DATE,
			DATE_FORMAT(END_DATE, '%Y-%m-%dT%TZ') AS END_DATE,
			IS_VIEW,
			IS_DELETE
		FROM
			MONSTER_MARINE.NOTICE
		WHERE
			IS_DELETE = false
	</select>

	<insert id="insertNotice" parameterType="noticeVO">
		/*
			SQL ID : com.monstermarine.api.notice.insertNotice
			설명 : 공지사항 등록
		*/
		INSERT INTO MONSTER_MARINE.NOTICE (
			TITLE, 
			CONTENTS, 
			CREATE_DATE, 
			UPDATE_DATE, 
			USER_ID,
			START_DATE,
			END_DATE,
			IS_VIEW
		) VALUES (
			#{title},
			#{contents},
			now(),
			now(),
			#{userId},
			#{startDate},
			#{endDate},
			#{isView}
		)
	</insert>
	
	<update id="updateNotice" parameterType="noticeVO">
		/*
			SQL ID : com.monstermarine.api.notice.updateNotice
			설명 : 공지사항 수정
		*/
		
		UPDATE MONSTER_MARINE.NOTICE
		SET
			TITLE = #{title}, 
			CONTENTS = #{contents}, 
			UPDATE_DATE = now(), 
			USER_ID = #{userId},
			START_DATE = #{startDate},
			END_DATE = #{endDate},
			IS_VIEW = #{isView}
		WHERE
			NOTICE_ID = #{noticeId}
	</update>
	
	<update id="deleteNotice" parameterType="noticeVO">
		/*
			SQL ID : com.monstermarine.api.notice.deleteNotice
			설명 : 공지사항 삭제
		*/
		UPDATE MONSTER_MARINE.NOTICE
		SET
			IS_DELETE = true
		WHERE
			NOTICE_ID = #{noticeId}
	</update>	
	
</mapper>
