// #000 검은색 글자색
// #fff 흰색
// #0d68bd 파란색 포인트
// #171b1f 검은색 포인트
// #d3d2d2 회색 보더
// #f9f9f9 회색 비쥐F

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
span,
form,
fieldset,
input,
select,
label,
textarea,
table,
caption,
thead,
tfoot,
tbody,
tr,
th,
td {
  margin: 0;
  padding: 0;
  font: 14px/1.5 "맑은고딕", "Malgun Gothic", "나눔고딕", "nanumgothic", 굴림,
    Gulim, 돋움, Dotum, Sans-serif;
  color: #000;
  letter-spacing: -0.5px;
}
b,
span,
strong,
input,
a,
button {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}
article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
hgroup,
details,
summary,
figure,
figcaption {
  display: block;
}
cite {
  display: inline;
}
html,
body {
  height: 100%;
}
body {
  margin: 0px;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
img {
  border: 0;
  max-width: 100%;
}
label,
input,
textarea,
select {
  vertical-align: middle;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  table-layout: fixed;
}
fieldset {
  border: none;
}
hr,
button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
}

.sub-menu {
  width: 190px;
  margin-right: 10px;
  display: inline-block;
  height: 3200px;
  .sub-menu-category {
    height: 42px;
    color: #ff5d5d;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    line-height: 42px;
  }
  .sub-menu-category-menu {
    height: 38px;
    color: #000000;
    font-size: 12px;
    line-height: 38px;
    border-top: 1px solid #f1f1f1;
    a {
      color: #000000;
      font-size: 12px;
      height: 35px;
      line-height: 35px;
      padding: 0 0 0 38px;
      text-decoration: none;
      word-spacing: -1px;
    }
  }
}
#main {
  .main-banner {
    height: 442px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    .main-banner-left {
      width: 611px;
      height: 100%;
      .main-banner-left-img-wrapper {
        width: 100%;
        height: 413px;
      }
      .main-banner-left-img-changer {
        border-top: 1px solid #dfdfdf;
        height: 28px;
        background: #5b5f63;
        display: flex;
        justify-content: space-between;
        .main-banner-left-img-changer-button {
          width: 122px;
          background: #5b5f63;
          height: 28px;
          line-height: 26px;
          color: #ffffff;
          text-align: center;
          font-size: 11px;
          cursor: pointer;
        }
      }
    }
    .main-banner-right {
      width: 387px;
      height: 100%;
      display: flex;
      justify-content: space-bewteen;
      border: 1px solid gray;
    }
  }
  .small-banner {
    height: 260px;
    display: flex;
    justify-content: space-bewteen;
    .small-banner-right {
      width: 675px;
      height: 100%;
      .small-banner-right-menu {
        height: 37px;
        text-align: center;
        letter-spacing: -1px;
        outline: 2px solid #8b8e90;
        .small-banner-right-menu-tab {
          display: inline;
          // height: 37px;
          line-height: 35px;
          font-size: 12px;
          cursor: pointer;
          padding: 0 30px;
          color: #666666;
          font-weight: bold;
        }
      }
    }
  }
}

header {
  .main-header-wrapper {
    height: 168px;
    width: 100%;
    text-align: center;
    margin: 0 0 15px 0;
    .main-header {
      height: 108px;
      width: 1200px;
      margin: 0 auto;
      position: relative;
      .main-header-logo {
        width: 227px;
        height: 98px;
      }
      .main-header-search-wrapper {
        position: absolute;
        right: 0px;
        top: 78px;
        .main-header-search {
          display: flex;
          justify-content: space-between;
          border: 3px solid #ff0000;
          width: 342px;
          input {
            width: 300px;
            line-height: 22px;
            height: 22px;
            border: none;
            background: none;
            margin-left: 5px;
            outline: none;
          }
        }
      }
    }
    nav {
      margin: 20px 0 0px 0;
      border: 0px;
      height: 40px;
      .main-header-navigator {
        width: 1200px;
        margin: 0 auto;
        position: relative;
        z-index: 90;
        height: 100%;
        table {
          width: 100%;
          height: 100%;
          td {
            background: #ff0000;
            border-right: 1px solid black;
            color: white;
            font-weight: bold;
            box-sizing: border-box;
            letter-spacing: -1px;
            font-size: 11px;
          }
        }
      }
    }
  }
}

.h2-sub-header {
  height: 28px;
  line-height: 28px;
  font-weight: bold;
  color: #43474a;
  font-size: 15px;
  strong {
    color: #ff0000;
  }
  span {
    font-weight: normal;
    color: #999999;
    font-size: 12px;
    letter-spacing: -1px;
  }
}
