// #000 검은색 글자색
// #fff 흰색
// #0d68bd 파란색 포인트
// #171b1f 검은색 포인트
// #d3d2d2 회색 보더
// #f9f9f9 회색 비쥐F

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
span,
form,
fieldset,
input,
select,
label,
textarea,
table,
caption,
thead,
tfoot,
tbody,
tr,
th,
td {
  margin: 0;
  padding: 0;
  font: 14px/1.5 "맑은고딕", "Malgun Gothic", "나눔고딕", "nanumgothic", 굴림,
    Gulim, 돋움, Dotum, Sans-serif;
  color: #000;
  letter-spacing: -0.5px;
}
b,
span,
strong,
input,
a,
button {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}
article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
hgroup,
details,
summary,
figure,
figcaption {
  display: block;
}
cite {
  display: inline;
}
html,
body {
  height: 100%;
}
body {
  margin: 0px;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
img {
  border: 0;
  max-width: 100%;
}
label,
input,
textarea,
select {
  vertical-align: middle;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  table-layout: fixed;
}
fieldset {
  border: none;
}
hr,
button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  display: inline-block;
}

.sub-menu {
  width: 190px;
  margin-right: 10px;
  display: inline-block;
  height: 3667px;
  .sub-menu-category {
    height: 42px;
    color: #ff5d5d;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    line-height: 42px;
  }
  .sub-menu-category-menu {
    height: 38px;
    color: #000000;
    font-size: 12px;
    line-height: 38px;
    border-top: 1px solid #f1f1f1;
    a {
      color: #000000;
      font-size: 12px;
      height: 35px;
      line-height: 35px;
      padding: 0 0 0 38px;
      text-decoration: none;
      word-spacing: -1px;
    }
  }
}
