<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="useGeneratedKeys" value="true"/>
		<setting name="defaultExecutorType" value="REUSE"/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="callSettersOnNulls" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias alias="resultmap" type="com.monstermarine.common.ResultMap" />
		<typeAlias alias="noticeVO" type="com.monstermarine.api.notice.NoticeVO" />
		<typeAlias alias="productVO" type="com.monstermarine.api.product.ProductVO" />
		<typeAlias alias="categoryVO" type="com.monstermarine.api.category.CategoryVO" />
		<typeAlias alias="bannerVO" type="com.monstermarine.api.banner.BannerVO" />
		<typeAlias alias="fileVO" type="com.monstermarine.api.file.FileVO" />
	</typeAliases>
	
</configuration>
